@page "/about"
<h2 class="text-center">Ссылки</h2>
<hr class="my-2"/>
<div class="row">
    <div class="col">
        <p>Создание программ в том виде, в котором они представлены было бы невозможно без многих материалов из интернета</p>
        <ul>
            <li><p>Для проверки расчётов использовалась программа <strong>КВМ-Дым</strong> фирмы <a href="https://www.cvm.ru/programmy-podbora/programma-rascheta-sistem-dymoudaleniya-po-metodike-vniipo-kvm-dym.html">Климатвентмаш</a>, которую сотрудники фирмы любезно предоставили для бесплатного использования</p></li>
        </ul>
    </div>
</div>

@code {
    
}