@page "/"

<div class="container-fluid">
    <h2 class="text-center">О сайте</h2>
    <hr class="my-2" />
    <div class="row">
        <div class="col-lg-8">
            <p>На сайте представлены программы для расчёта систем дымоудаления по методике ВНИИПО, изложенной в документе <em><strong>Меmодические рекомендации к СП 7.13130.2013</strong></em></p>
            <p>Для проверки расчётов использовалась программа <strong>КВМ-Дым</strong> фирмы <a href="https://www.cvm.ru/programmy-podbora/programma-rascheta-sistem-dymoudaleniya-po-metodike-vniipo-kvm-dym.html">Климатвентмаш</a>, которую сотрудники фирмы любезно предоставили для бесплатного использования</p>
        </div>
    </div>
</div>