@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.popover{
    max-width:30%;
}
#v-pills-tab .nav-link {
    color: #3d3d3d !important;
}
#v-pills-tab .nav-link.active{
    color:#ffffff !important;
}
#v-pills-tab .nav-link:hover:not(.active) {
    background-color: #f6f6f6 !important;
    color: #3d3d3d !important;
}
#intreportsortedlist th{
    padding: 0.25em 0.5em;
}
#intreportsortedlist td {
    padding: 0.25em 0.5em;
}
.bootstrap-select .dropdown-menu li a{
    margin-left:0px !important;
    white-space:normal !important;
}
.bootstrap-select > .dropdown-toggle{
    white-space:normal !important;
    border:1px solid #808080 !important;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    background-color: #e2e2e2 !important;
    border-color: #545454 !important;
}
.dropdown-menu {
    border-color: #6c757d !important;
    box-shadow:rgba(147, 147, 147,0.5) 2px -2px 2px;
}
.tooltip-inner{
    max-width: 450px;
    justify-items:start;
    
}
.nopadding tr td,.nopadding tr th{
    padding: 0 !important;
    margin:0 !important;
    text-align: center !important;
}
.table.intresult{
    margin-bottom:0 !important;
}