@if (Show)
{
    int i = 1;
    @*<div class="row"><div class="col"><span class="badge badge-secondary d-block"></span></div></div>*@
    <table class="table small">
        <thead class="thead-light">
            <tr>
                <th>Номер проёма</th>
                <th>Площадь, м²</th>
                <th>Высота, м</th>
            </tr>
        </thead>
        <tbody>

    @foreach (var item in Items)
    {
        <tr>
            <td>@i</td>
            <td>@item.Item1</td>
            <td>@item.Item2</td>
        </tr>
        
        i++;
    }
        </tbody>
    </table>
    <div class="row"><div class="col"><span class="badge badge-secondary d-block"></span></div></div>
}

@code{
    [Parameter]
    public bool Show { get; set; } = false;
    [Parameter]
    public List<(double, double)> Items { get; set; } = new List<(double, double)>();
}