    
<table class="table intresult" style="width:90%;margin:0 0.5rem 0 0.5rem">
        <tbody>
            <tr class="row justify-content-between">
                <td width="60%" align="left" class="col-xs-7 d-block">
                    <div class="text-black-50">@Name <span>@HtmlName</span></div>
                </td>
                <td width="10%" align="right" class="col-xs-1 d-block">
                    @Symbol
                </td>
                <td width="30%" align="right" class="col-xs-4 d-block">
                    <div class="@ClassName2">@Val @Units <span>@HtmlUnits</span></div>
                </td>
            </tr>
        </tbody>
    </table>

@code{
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public double Val { get; set; }
    [Parameter]
    public string Units { get; set; }
    [Parameter]
    public string ClassName1 { get; set; }
    [Parameter]
    public string ClassName2 { get; set; }
    [Parameter]
    public RenderFragment HtmlName { get; set; }
    [Parameter]
    public RenderFragment HtmlUnits { get; set; }
    [Parameter]
    public RenderFragment Symbol { get; set; }
}
