    <table class="table intresult" width="100%">
    <tbody>
        <tr class="row justify-content-between">
            <td align="left" width="60%">
                <div class="text-black-50">@Name <span>@HtmlContent</span></div>
            </td>
            <td align="right" width="10%">

            </td>
            <td align="right" width="30%">
                <div class="@ClassName2">@Val1 &times; @Val2 @Units</div>
            </td>
        </tr>
    </tbody>
</table>

@code{
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public double Val1 { get; set; }
    [Parameter]
    public double Val2 { get; set; }
    [Parameter]
    public string Units { get; set; }
    [Parameter]
    public string ClassName1 { get; set; }
    [Parameter]
    public string ClassName2 { get; set; }
    [Parameter]
    public RenderFragment HtmlContent { get; set; }
}
