<div class="row @ClassName1 mx-1 justify-content-between">
    <span class="oi oi-check"></span>
    <div class="col-7">
        <h4 class="text-black-50">@Name <span>@HtmlName</span></h4>
    </div>
    <div class="col-4">
        <h4 class="@ClassName2">@Val @Units <span>@HtmlUnits</span></h4>
    </div>
</div>

@code{
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public double Val { get; set; }
    [Parameter]
    public string Units { get; set; }
    [Parameter]
    public string ClassName1 { get; set; }
    [Parameter]
    public string ClassName2 { get; set; }
    [Parameter]
    public RenderFragment HtmlName { get; set; }
    [Parameter]
    public RenderFragment HtmlUnits { get; set; }
}
