
<table class="table intresult" style="width:90%;margin:0 0.5rem 0 0.5rem">
    <tbody>
        <tr class="row justify-content-between">
            <td align="left" width="60%">
                <div class="text-black-50">@Name <span>@HtmlName</span></div>
            </td>
            <td align="right" width="10%">
                @Symbol
            </td>
            <td align="right" width="30%">
                <div class="@ClassName2">@Val @Units <span>@HtmlValue</span></div>
            </td>
        </tr>
    </tbody>
</table>

@code{
    
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Val { get; set; }
    [Parameter]
    public string Units { get; set; }
    [Parameter]
    public string ClassName1 { get; set; }
    [Parameter]
    public string ClassName2 { get; set; }
    [Parameter]
    public RenderFragment HtmlName { get; set; }
    [Parameter]
    public RenderFragment HtmlValue { get; set; }
    [Parameter]
    public string Symbol { get; set; }
}
